/**index.wxss**/


.index {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f7f7fa;
}

.banner {
    width: 100%;
    display: block;
}

.banner image {
    width: 100%
}



.nav {
    width: 100%;
    height: 96rpx;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 7px 0 #EBEBEB;
}

.nav_item {
    width: 200rpx;
    height: 96rpx;
    line-height: 96rpx;
    text-align: center;
    position: relative;
    font-size: 16px;
    color: #A7B0C2;
}

.nav_item.active {
    color: #39CCE1;
}

.nav_item.active::after {
    background: #39CCE1;
    content: '';
    display: block;
    width: 100%;
    height: 6rpx;
    border-radius: 5rpx;
    bottom: 0;
    left: 0;
    position: absolute
}


.download_history,
.photo,
.goods_box {
    width: 100%;
    height: calc(100% - 300rpx) !important;
    padding-bottom: 30rpx !important;
    box-sizing: border-box;
    margin-top: 30rpx;
}

.down_box {
    width: 100%;
    height: 100%;
    margin: 20rpx auto;
}

.history_item {
    width: 700rpx;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 #D9DFED;
    padding: 10rpx 20rpx;
    box-sizing: border-box;
    color: #495E8B;
    margin-bottom: 30rpx
}

.history_item.active {
    color: #A7B0C2;
}

.history_item .title {
    display: flex;
    justify-content: space-between;
    height: 50rpx;

    .title_cont {
        font-size: 28rpx;
        display: block;
        width: 540rpx;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}



.title_state {
    font-size: 20rpx;
}

.img_box {
    display: flex;
    justify-content: space-between;
}

.img_box image {
    width: 216rpx;
    height: 158rpx;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.bottom .info text {
    margin-right: 20rpx;
    font-size: 20rpx
}

.like_box text {
    font-size: 20rpx;
    margin-right: 20rpx;
}

.msg {
    margin: 0 !important
}
.ai{
    margin: 16px auto;
    width: 100%;
    font-size: 20rpx;
}

.like::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 24rpx;
    height: 24rpx;
    padding-bottom: 3rpx;
    background: url('https://www.mati.hk/Public/MiniProgram-note/index/like.png');
    background-size: 100% 100%;
    margin-right: 8rpx
}

.msg::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 26rpx;
    height: 22rpx;
    background: url('https://www.mati.hk/Public/MiniProgram-note/index/msg.png');
    background-size: 100% 100%;
    margin-right: 8rpx
}




.photo {
    width: 100%;
    height: 100%;
    padding-bottom: 120rpx;
    box-sizing: border-box
}

.photo_box {
    height: 100%;
}

.photo_cont {
    display: flex;
    justify-content: space-around;
    flex-direction: row
}

.photo_cont .left,
.photo_cont .right {
    width: 50%;
    box-sizing: border-box;
    font-size: 0
}

.photo_cont .left {
    padding-left: 20rpx;
    padding-right: 10rpx
}

.photo_cont .right {
    padding-right: 20rpx;
    padding-left: 10rpx
}

.photo_cont .img {
    position: relative;
}

.photo_cont .img.active::after {
    content: '';
    display: block;
    position: absolute;
    right: 10rpx;
    top: 10rpx;
    background: url('https://www.mati.hk/Public/MiniProgram-note/user/checked.png');
    background-size: 100% 100%;
    width: 30rpx;
    height: 30rpx;
}

.photo_cont image {
    width: 100%;
    height: 340rpx;
    background: #ffffff;
    margin-bottom: 20rpx;
    border-radius: 5px;
    transition: all .2s
}

.photo_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100rpx;
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0 -2px 2px 0 rgba(87, 90, 102, 0.30);
    align-items: center;


}
.screen{
    flex-shrink: 0
}
.photo_bottom view,
.photo_bottom button {
    width: 50%;
    text-align: center;
    line-height: 100rpx;
    height: 100rpx;
    font-size: 36rpx;
    color: #39CCE1;
    position: relative;
}
.photo_bottom view::after{
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 50rpx;
    background: #D9DFED;
    content: '';
    display: block;
    transform: translateY(-50%)
}
.photo_bottom view:last-child::after{
    display: none
}
.screen{
    width: 20% !important
}
.download_check ,.discern{
    width: 40% !important
}
.check{
    view{
        width: 50% !important
    }
}

.photo_bottom button {
    background: #ffffff;

    &::after {
        border: none
    }
}

.user_box {
    position: fixed;
    right: 20rpx;
    bottom: 30rpx;
    width: 20rpx;
    height: 800rpx;
}

movable-view {
    width: 100rpx;
    height: 400rpx;
}

.user view {
    width: 96rpx;
    height: 96rpx;
    margin-top: 20rpx;
    background: #eee;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 8px 0 #A7B0C2;
}

.tx {
    image {
        border-radius: 50%
    }
}

.user image {
    width: 100%;
    height: 100%;
}

.login {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0
}

.login.down {
    opacity: 1;
    position: relative;
    border: #A7B0C2 solid 1px;
    height: auto;
}

.label_box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 10;
    transform: translateY(100%);
}

.box_cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 120rpx;
    box-sizing: border-box
}

.cont_item {
    padding: 40rpx 0;
    margin: 0 10rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d5d5d5
}

.cont_item:nth-child(1) {
    color: #4A90E2;

    .label {
        border: 1px solid #4A90E2;
    }

    .active {
        background: #4A90E2
    }
}

.cont_item:nth-child(2) {
    color: #F6AC62;

    .label {
        border: 1px solid #F6AC62;
    }

    .active {
        background: #F6AC62
    }
}

.cont_item:nth-child(3) {
    color: #D986FD;

    .label {
        border: 1px solid #D986FD;
    }

    .active {
        background: #D986FD
    }
}

.cont_item:nth-child(4) {
    color: #FD6262;

    .label {
        border: 1px solid #FD6262;
    }

    .active {
        background: #FD6262
    }
}

.cont_item:nth-child(5) {
    color: #4C4C4C;

    .label {
        border: 1px solid #4C4C4C;
    }

    .active {
        background: #4C4C4C
    }

    border: none
}

.item_left {
    flex-shrink: 0;
    margin-right: 30rpx
}

.item_left view {
    font-size: 24rpx;
    text-align: center
}

.item_left image {
    width: 65rpx;
    height: 65rpx;
    display: block;
    margin: auto
}

.item_right {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;

    .label {
        font-size: 32rpx;
        margin: 0 10rpx;
        padding: 6rpx 30rpx;
        margin-bottom: 34rpx;
        border-radius: 30px;

        &.active {
            color: #ffffff
        }
    }
}


.box_btn {
    width: 100%;
    height: 100rpx;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;

    view {
        width: 50%;
        height: 100%;
        line-height: 100rpx;
        text-align: center;
        font-size: 36rpx;
        box-shadow: 0 -2px 2px 0 rgba(87, 90, 102, 0.30);
    }
}


.clear {
    background: #ffffff;
    color: #39CCE1;
}

.enter {
    background: #39CCE1;
    color: #ffffff;
}


.inbox_box {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
    left: 0;
    top: 0;

    .bg {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.50);
    }

    .box {
        width: 636rpx;
        height: 410rpx;
        border-radius: 2px;
        background: #ffffff;
        padding: 30rpx;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;

        .title {
            font-size: 32rpx;
            color: #495E8B;
            display: flex;
            justify-content: space-between;
            align-items: center;

            text {
                display: block;
                position: relative;

                &:last-child {
                    width: 45rpx;
                    height: 45rpx;

                    // transform: rotate(-45deg);
                    &::before {
                        content: '';
                        display: block;
                        width: 32rpx;
                        height: 4rpx;
                        background: #39CCE1;
                        transform: translate(-50%, -50%) rotate(45deg);
                        position: absolute;
                        left: 50%;
                        top: 50%
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 4rpx;
                        height: 32rpx;
                        background: #39CCE1;
                        transform: translate(-50%, -50%) rotate(45deg);
                        position: absolute;
                        left: 50%;
                        top: 50%
                    }
                }
            }
        }

        .input {
            margin-top: 36rpx;
            width: 582rpx;
            height: 196rpx;
            background: rgba(217, 223, 237, 0.48);
            font-size: 28rpx;
            color: #495E8B;
            border-radius: 3px;
            padding: 14rpx;
            box-sizing: border-box;

            textarea {
                width: 100%;
                height: 100%;
            }
        }

        .btn {
            display: flex;
            justify-content: space-around;
            padding: 20rpx 0;
            box-sizing: border-box;

            text,
            button {
                height: 50rpx;
                line-height: 50rpx;
                width: 50%;
                text-align: center;
                font-size: 34rpx;
                color: #39CCE1;
                border-right: 1px solid #D9DFED;
                box-sizing: border-box;

                &:last-child {
                    border: none
                }
            }

            button {
                border-radius: 0;
                background: transparent;
                padding: 0;
                margin: 0;

                &::after {
                    border: none
                }
            }
        }
    }
}

.open_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.50);

    image {
        width: 90%;
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .open_img_clear {
        width: 100%;
        height: 100%;
    }
}

.set_save_img {
    margin-bottom: 20rpx
}

.de_index {
    margin-top: 200rpx;
    text-align: center;
}

.de_index image {
    width: 228rpx;
    height: 170rpx;
}

.de_index view {
    font-size: 28rpx;
    color: #39CCE1;
    text-align: center;
    margin: auto;
    margin-top: 40rpx
}

.de_index button {
    margin: auto;
    margin-top: 20rpx;
    width: 300rpx;
    height: 80rpx;
    line-height: 80rpx;
    background: #39CCE1;
    box-shadow: 0 4px 4px 0 #A7B0C2;
    font-size: 38rpx;
    color: #FFFFFF;
    text-align: center;
    border: none !important
}

.de_index button::after {
    border: none
}


/* 材料 */

.goods_box {
    margin-top: 0;

    .goods_nav {
        width: 100%;
        height: 92rpx;
        display: flex;
        padding: 0 20rpx;
        overflow: hidden;
        overflow-x: auto;
        align-items: center;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.20);

        .goods_nav_item {
            padding: 14rpx 28rpx;
            font-size: 24rpx;
            border-radius: 50rpx;
            color: #495E8B;
            margin: 0 20rpx;
            white-space: nowrap;
            position: relative;
            text-align: center;

            &.active {
                background: #39CCE1;
                color: #FFFFFF;

                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    border-width: 18rpx;
                    border-top: 10rpx;
                    border-color: #39CCE1 transparent transparent transparent;
                    border-style: solid;
                    bottom: -28rpx;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .goods_list {
        width: 100%;
        height: calc(100% - 92rpx);

        .goods_item {
            padding: 20rpx 0;
            display: flex;
            align-items: center;
            text-align: left;
            border-bottom: 1px #DDE2EE solid;
            margin: 0 40rpx;

            .item_left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: #495E8B;
                flex-grow: 1;

                .goods_title {
                    font-size: 28rpx;
                    text-align: left;
                }

                .goods_msg {
                    font-size: 20rpx;
                    text-align: left;
                }

                .info {
                    display: flex;
                    font-size: 18rpx;
                    align-items: center;

                    .view {
                        margin-right: 40rpx;
                        width: 50rpx;

                        &::before {
                            content: '';
                            display: inline-block;
                            width: 20rpx;
                            height: 16rpx;
                            background-image: url('https://www.mati.hk/Public/MiniProgram-note/index/view.png');
                            background-size: 100% 100%;
                            margin-right: 12rpx;
                        }
                    }

                    .like {
                        width: 50rpx;
                        margin-right: 40rpx;
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 16rpx;
                            height: 16rpx;
                            background-image: url('https://www.mati.hk/Public/MiniProgram-note/index/like.png');
                            background-size: 100% 100%;
                            margin-right: 12rpx;
                        }
                    }
                    .money {
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 20rpx;
                            height: 20rpx;
                            background-image: url('https://www.mati.hk/Public/MiniProgram-note/index/money.png');
                            background-size: 100% 100%;
                            margin-right: 12rpx;
                        }
                    }
                }
            }

            .item_right {
                flex-grow: 0;
                width: 160rpx;
                height: 100rpx;

                image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}